<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="comajtarczycsci3130_group_4_project.httpsgithub.csci3130group4coachingapplication">

    <uses-permission android:name="android.permission.INTERNET" />


    <application
        android:allowBackup="true"
        android:name=".MyApplicationData"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".StatisticsPage" />
        <activity android:name=".amainpage" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegistrationActivity"
            android:label="@string/title_activity_registration"
            android:parentActivityName=".MainActivity" />
        />
        <activity
            android:name=".LoggedInActivity"
            android:label="@string/title_activity_logged_in" />
        <activity android:name=".editProfile" />
        <activity android:name=".plans" />
        <activity android:name=".Statistics" />
        <activity android:name=".manageCoach" />
        <activity android:name=".Athletes" />

        <activity
            android:name=".UpdateUser"
            android:label="@string/title_activity_update_user"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>